```{=html}
<div class="list quaro-listing-default">
  <% for (const item of items) { %>
    <div class="quarto-post image-right" <%= metadataAttrs(item) %>>
      <% if (item.thumbnail) { %>
      <div class="thumbnail">
        <% if (item.video) { %>
          <a href="<%- item.video %>" target="_blank" rel="noopener">
        <% } %>
          <% if (item.thumbnail.endsWith('.webm')) { %>
          <video autoplay muted loop preload="metadata">
            <source src="<%- item.thumbnail %>#t=0.1" type="video/webm">
          </video>
          <% } else { %>
          <img loading="lazy" src="<%- item.thumbnail %>" class="thumbnail-image"/>
          <% } %>
        <% if (item.video) { %>
        </a>
        <% } %>
      </div>
      <% } %>
      <div class="body">
        <% if (item.title) { %>
        <h3 class="no-anchor listing-title"><%= item.title %></h3>
        <% } %>
        <% if (item.categories) { %> 
        <div class="listing-categories">
        <% for (const category of item.categories) { %>
          <div class="listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;"><%= category %></div>
        <% } %>
        </div>
        <% } %> 
        <% if (item.description) { %>
        <div class="delink listing-description"><%= item.description %></div>
        <% } %>
      </div>
      <div class="metadata">
      <% if (item.year) { %><div class="listing-date"><%= item.year %></div><% } %>
      <% if (item.author) { %><div class="listing-author"><%= item.author %></div><% } %>
      <% if (item['author-portfolio']) { %>
        <div class="listing-author-portfolio listing-button" onclick="window.open('<%- item['author-portfolio'] %>', '_blank'); return false;">
          <span>Portafolio</span>
        </div>
      <% } %>
      <% if (item.linkedin) { %>
        <div class="listing-linkedin listing-button" onclick="window.open('<%- item.linkedin %>', '_blank'); return false;">
          <span>Linkedin</span>
        </div>
      <% } %>
      <% if (item.report) { %>
        <div class="listing-report listing-button" onclick="window.open('<%- item.report %>', '_blank'); return false;">
          <span>Memoria</span>
        </div>
      <% } %>
      <% if (item.video) { %>
        <div class="listing-video listing-button" onclick="window.open('<%- item.video %>', '_blank'); return false;">
          <span>Video</span>
        </div>
      <% } %></div>
    </div>
  <% } %>
</div>
```