```{=html}
<div class="list quaro-listing-default">
  <% for (const item of items) { %>
    <div class="quarto-post image-right" <%= metadataAttrs(item) %>>
      <% if (item.thumbnail) { %>
      <div class="thumbnail">
        <% if (item.thumbnail.endsWith('.webm')) { %>
        <video autoplay muted loop preload="metadata">
          <source src="<%- item.thumbnail %>#t=0.1" type="video/webm">
        </video>
        <% } else { %>
        <img loading="lazy" src="<%- item.thumbnail %>" class="thumbnail-image"/>
        <% } %>
      </div>
      <% } %>
      <div class="body">
        <% if (item.title) { %>
        <h3 class="no-anchor listing-title"><%= item.title %></h3>
        <% } %>
        <% if (item.categories) { %> 
        <div class="listing-categories">
        <% for (const category of item.categories) { %>
          <div class="listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;"><%= category %></div>
        <% } %>
        </div>
        <% } %> 
        <% if (item.description) { %>
        <div class="delink listing-description"><%= item.description %></div>
        <% } %>
      </div>
      <div class="metadata">
      <% if (item.year) { %><div class="listing-date"><%= item.year %></div><% } %>
      <% if (item.author) { %><div class="listing-author"><%= item.author %></div><% } %>
      <% if (item['author-portfolio']) { %>
        <div class="listing-author-portfolio"><a href="<%- item['author-portfolio'] %>">Portafolio</a></div>
      <% } %>
      <% if (item.linkedin) { %>
        <div class="listing-linkedin"><a href="<%- item.linkedin %>">Linkedin</a></div>
      <% } %>
      <% if (item.path) { %>
        <div class="listing-report"><a href="<%- item.path %>">Memoria</a></div>
      <% } %></div>
    </div>
  <% } %>
</div>
```